@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  html{
    scroll-behavior: smooth;
}

*{
    font-family:system-ui;
    margin: 0%;
    text-decoration:none;

    
}
.navbar{
  
    background-color:rgb(0, 0, 0);
    display: block;
    padding-left: 30px; 
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    width: 96%; 

}

.logo{
    display: flex; align-items: center;
    justify-content: space-between;
    
   
}

#logo{
    font-size: xx-large; font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 7px;
    border-radius: 10px ;
    #logo:hover{
        color: white;
    }
}

li{
    list-style: none;
    display:inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 7px;
    margin: 10px;
    background-color: white;
    font: size 10px;
    font-weight: 600;
}

.navtext{
    a{
        color: rgb(186, 186, 186);
    }
}

#hd:hover{
    color: rgba(102, 252, 241, 1);
   
}

.navtext:hover{
    li:hover{
        background-color: rgb(108, 108, 108) ;
        box-shadow: white 1px 1px 5px;
    }
}


.dp{
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
    border-style:double;
    border-width: 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    
}
.dp_back{
  font-family: NeueRoman;
  padding-top: 10px;
  margin-left: 200px;
  h1{
    font-size: 200px;
    text-shadow: rgb(220, 220, 220) 1px 1px 10px;
    color: #2a2a2a;
}
}

#intro{
    margin-left: 30px;
}

.block1{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex; 
    align-items: center;  
    background-color: rgb(0, 0, 0);
}

#text{
    animation: fadeIn 4s;
    color: rgba(102, 252, 241, 1);
    line-height: 190px;
    
}

.about1{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color:rgba(32, 40, 51, 1);
    h1{
        font-size: 40px;
        text-decoration: underline 5px;
    }

}

.about{
    display: flex;
}

#about{
    text-align: center;
    color: aqua;
}

.dp2{
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 230px;
}
  

.p1 .p2 {
    margin-top: 50px;
    color: black;
    font-size: 23px;
    
}
.p1 span{
    animation: fadeIn 5s;
    color: #ed004f;
}

.p1 span2{
    animation: fadeIn 5s;
    color: rgb(162, 0, 255);
}

.p2 h2{
    padding-top: 20px;
    padding-left: 40px;
    text-align: center;
    color: #ffffff;
    animation: fadeIn 5s;
}

.p1{
    color: white;
    font-family: NeueRoman;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-size: 26px;
}

.block3{
    text-align: center;
    color:black;
}

.sk{
    background-color: rgb(255, 255, 255);
}
.skills{
    display: flex;
    text-align: center;
    font-size: xxx-small;   
}

.skill{
    padding-top: 75px;
    font-size:20px ;
    text-align: center;
    text-decoration: underline 5px;
    color: rgb(0, 0, 0);
}

.list{
 
   padding-left: 180px;
    padding-right: 180px;
    margin-top: 90px;
    :hover{transform: scale(1.1);}
}

.gif1{
    padding-left: 100px;
    padding-bottom: 30px;
}

.b1{
    border-radius: 10px ;
    font-family: helvetica;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 4px;
}



.resume{
    text-align: center;
}

.resume2{
    display: flex;
    text-align: center;
}
.resb{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.list li:hover{
    animation: fadeIn 1s;   
    
#html
{
    background-color: rgba(255, 0, 0, 0.656);
    color: white;
    font-weight: 900;
}

#css{
    background-color: rgba(127, 255, 212, 0.867);
    color: black;
    font-weight: 900;
}

#js{
    background-color: rgba(246, 255, 0, 0.749);
    color: black;
    font-weight: 900;
}

#uiux{
    background-color: rgba(99, 0, 204, 0.763);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#Python{
    background-color: rgba(0, 56, 199, 0.734);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#Git{
    background-color: rgba(0, 0, 0, 0.758);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#cs{
    background-color: rgba(255, 0, 0, 0.797);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#edit{
    background-color: rgba(255, 94, 0, 0.741);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#gd{
    background-color: rgba(119, 255, 0, 0.715);
    color: rgb(0, 0, 0);
    font-weight: 900;
}
}



.docgif{
    padding-left: 100px;
}

#projects{
    background-color: rgba(32, 40, 51, 1);
}

.pro{
    padding-top:100px ;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    text-decoration: underline 5px;
    color: aqua;

}

.ph1{
    text-align: center;
}

.projects1{
    display: flex;
    
    
}
.pr1{
    margin-left: 2%;
    margin-top: 80px;
    padding: 50px;
    color: rgba(197, 198, 200, 1);
}
.primg1{
    padding: 50px;
    margin-right: 50px;
}
.projects{
   
    display: flex;
    background-color: rgb(0, 0, 0);
}
.pr2{
    margin-left: 2%;
    margin-top: 80px;
    padding: 50px;
    color: rgba(197, 198, 200, 1);
}

.primg2{
    padding: 50px;
    margin-left: 50px;

}

.certificate{
margin-top: 50px;
margin-bottom: 50px;

}

.c1{
    height: 100px;
    width: 170px;
    border-color: black;
    border-radius: 5px;
    }
.c1:hover{
        transform: scale(1);
    }
.cerimg{
   text-align: center;
   margin-bottom: 50px;
   text-decoration: underline 5px;
}

.certi{
    text-align: center;;
    li{
        padding: 20px;
        border-radius: 5px;
        border-style: solid;
        border-color: black;
    }
#gif5{
    justify-content: center;

}

}
.contact{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px;
    margin: rgb(131, 131, 131);
    text-decoration: underline 5px;
    background-color: rgb(121, 131, 146)
}

.contlogo{
    display:flex ;
    justify-content: center;
}
.con{
    background-color: rgb(121, 131, 146)
}

#ilo{
    padding: 50px;

}

#ilo:hover{
    transform: scale(1.5);
    animation: fadeIn 1.5s;
  
}
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    background-color: #e6e6e6;
}




